.flyout_nav.flyout-closed {
  left: -100vw;
}

.flyout-closed .flyout_nav-overlay {
  display: none;
}

.flyout_nav.flyout-open {
  left: 0;
}

.flyout_nav {
  padding: 25px 10px;
  width: 220px;
  position: fixed;
  z-index: 2;
  background-color: white;
  transition: 0.75s;
}

.flyout_nav-item-container {
  position: absolute;
  top: 50;
  left: 40;
}

.flyout_nav-overlay {
  position: fixed;
  height: 100vh;
  width: calc(100vw - 240px);
  right: 0;
  top: 0;
}
